[submodule "external/googletest"]
	path = external/googletest
    url = https://chromium.googlesource.com/external/googletest
[submodule "external/FastPFor"]
	path = external/FastPFor
	url = git@github.com:lemire/FastPFor.git
